body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #4CAF50;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
}

input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Menyesuaikan lebar input */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

